{% extends 'MainLayout.html' %}

{% block content %}
    <div class="container">
        <h1>События</h1>
        <div class="overflow">
            {% for event in events %}

            <div class="card" style="width: 18rem; height: 376px;">
              <img src="/media/{{event.photos}}" height="200px">
              <div class="card-body" style="display:flex; flex-direction: column; justify-content: space-between; align-items:start;">
                <h5 class="card-title" style="overflow: hidden; height: 72px;">{{event.name}}</h5>
                <a href="{% url 'event' event.pk %}" class="btn btn-primary">Перейти</a>
              </div>
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}