{% extends 'MainLayout.html' %}

{% block content %}
<div class="container">
    <h1>Выберите предмет</h1>
    <div class="line_list">
    {% for subj in subjects %}
        <a href="{% url 'estimates' group_id=group_id subj_slug=subj.subject_ID.slug %}">
            <button type="button" class="btn btn-primary">
                {% if subj.subject_ID.MDK != null %}
                    {{subj.subject_ID.MDK}}
                {% endif %}
                {{subj.subject_ID.name}}
            </button>
        </a>
    {% endfor %}
    </div>


</div>
<div class="container">
    <h2>Студенты</h2>
    <div class="container">
        <table class="table-bordered">
            {% for i, stud in students %}
            <tr>
                <td>{{ i }}</td>
                <th>{{ stud }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}