.line_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.overflow {
  overflow: scroll;
  display: flex;
  padding-left: 30px;
  gap: 40px;
}
.main_layout {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  min-height: 760px;
}
.container {
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.first_column {
  width: 250px;
  height: 2rem;
  font-size: 14px;
  display: inline-block;
  overflow: scroll;
  white-space: nowrap;
  background-color: #fff;
}
.scroll_table {
  overflow: scroll;
  width: 100%;
}
.mark_column {
  width: 60px;
}

.mark_input {
  width: 100%;
}
